@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
*
{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Poppins", sans-serif;
}
.wrapper 
{
    width: 100vw;
    height: 100vh;
    background-color: #000000;
    display: flex;
   justify-content: center;
   align-items: center;
}
.conatiner 
{
    width: 700px;
    height: 500px; 
}
img
{
    object-fit: cover;
    width:700px; 
    height:500px;
    border-radius: 50px;
    border: 5px solid rgb(255, 255, 255);
}   
i
{
    padding: 15px 20px;
    border-radius: 100%;
    background-color: rgb(255, 255, 255);
    color: rgb(0, 0, 0);
    cursor: pointer;
    margin: 10px;
    font-size: 2rem;
}
.imag
{
    display: none;
}
.active 
{
    display: block;
}
.db
{
    display: block;
}
.loader 
{
   background: url('images/loading.gif') ;
   background-position: center;
   background-size: cover;
   background-repeat: no-repeat;
    position: absolute;
    z-index: 2;
    width: 400px;
    height: 400px;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    display: none;
}